body {
  margin: 0;
  font-family: "Lora", serif;
  background: url("https://images.unsplash.com/photo-1463797221720-6b07e6426c24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") no-repeat fixed center;
  background-size: 100%;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.header__img {
  width: 100px;
  padding: 10px 10px 0px 10px;
}

.header__menu {
  margin-right: 50px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px 0px;
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  -webkit-text-stroke: 1px #545353;
  font-family: "Open Sans", sans-serif;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  margin-right: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__menu--profile img {
  margin-top: 8px;
  margin-right: 8px;
  width: 50px;
}

.header__menu--profile p {
  margin: 0px;
  color: white;
  font-size: 20px;
  margin-top: 8px;
  -webkit-text-stroke: 0.5px white;
}

.main {
  height: 300;
}

.main__title {
  color: white;
  font-size: 30px;
  text-align: center;
}

.categories__title {
  color: white;
  font-size: 20px;
  position: absolute;
  padding-left: 30px;
  width: 100px;
}

.input {
  border-radius: 60px;
  border: 2px solid white;
  color: white;
  font-family: "Lora", serif;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  height: 50px;
  padding: 0px 20px;
  width: 70%;
  outline: none;
  margin: 0px 0px 0px 200px;
  font-family: "Open Sans", sans-serif;
  -webkit-text-stroke: 0.8px black;
}

::placeholder {
  color: white;
}

.carousel {
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  padding: 30px 30px 10px 30px;
  position: relative;
}

.carousel__conteiner {
  white-space: nowrap;
  margin: 50px 40px 20px 32px;
  padding-bottom: 10px;
}

.carousel-item {
  background-color: #59405c;
  width: 160px;
  height: 210px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(50px, 0, 0);
}

.carousel__conteiner:hover .carousel-item {
  opacity: 0.3;
}

.carousel__conteiner:hover .carousel-item:hover {
  transform: scale(1.3);
  opacity: 1;
}

.carousel-item__img {
  width: 160px;
  height: 210px;
  object-fit: cover;
}

.carousel-item__details {
  background-color: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.carousel-item__details img {
  border-radius: 60px;
  border: 2px solid white;
  color: white;
  font-family: "Lora", serif;
  height: 25px;
  background: #050800;
}

.carousel-item__details:hover {
  opacity: 1;
  color: white;
}

.carousel-item__details--title {
  -webkit-text-stroke: 0.8px black;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.carousel-item__details--subtitle {
  -webkit-text-stroke: 0.8px black;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    font-family: "Lora", serif;
    background: url("https://images.unsplash.com/photo-1463797221720-6b07e6426c24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") no-repeat fixed center;
    background-size: 300%;
  }

  .input {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 60px;
    border: 2px solid white;
    color: white;
    font-family: "Lora", serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
    margin: 0px 0px 0px 50px;
    font-family: "Open Sans", sans-serif;
    -webkit-text-stroke: 0.8px black;
  }
}
.footer {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 0px 0px 0px 50px;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
  text-shadow: 1px 1px 8px black;
}

.footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style_menu.css.map */
